<html lang="en">

<head>
  {{> head}}
</head>

<body>

  {{#if flashes}}
    {{#each flashes.success}}
      <h3>Success: {{this}}</h3>
    {{/each}}
    {{#each flashes.info}}
      <h3>Info: {{this}}</h3>
    {{/each}}
  {{/if}}

  {{> footer}}

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" href="/js/materialize.min.js"></script>
</body>

</html>
