<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>{{title}}</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Minified Materialize Css -->
  <link rel="stylesheet" type="text/css" href="/css/materialize.css" media="screen,projection" />

  <link rel="stylesheet" type="text/css" href="/css/main.css" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <!--Login Form -->
  <form action="/login" method="post">
    <input type="text" name="username" />
    <input type="password" name="password" />

    <button type="submit">Login</button>
  </form>




  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" href="/js/materialize.min.js"></script>
</body>

</html>
