<html lang="en">

<head>
  {{> head}}
</head>

<body>
  <h3>User: {{user}}</h3>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" href="/js/materialize.min.js"></script>
</body>

</html>
