<!DOCTYPE html>
<html>

<head>
  {{> head}}
</head>

<body>
  {{> navbar}}
  <div class="container" style="margin-top: 5%">
    <form class="col s12" action="/search" method="post">
      <div class="row">
        <div class="valign-wrapper">
          <div class="input-field col s10">
            <input id="artist-name" name="artistName" type="search" class="validate" required>
            <label for="artist_name">Enter the name of an artist</label>
          </div>
          <button class="waves-effect waves-indigo btn-flat" type="submit" name="action"><i class="material-icons">search</i></button>
        </div>
      </div>
    </form>

    {{#if searchResult.results}}
      <ul class="collection">
        {{#each searchResult.results}}
          <li class="collection-item avatar">
            <img src="{{this.thumb}}" alt="" class="circle">
            <span class="title">{{this.title}}</span>
            <p>{{this.type}}</p>
            <a href="#!" class="secondary-content"><i class="material-icons">add</i></a>
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </div>

  {{> footer}} {{> toast}}
</body>

</html>
