<html lang="en">

<head>
  {{>head}}
</head>

<body>
  <!--Login Form -->
  <form action="/signup" method="post">
    <input type="text" name="username" />
    <input type="password" name="password" />

    <button type="submit">SignUp</button>
  </form>




  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" href="/js/materialize.min.js"></script>
</body>

</html>
