
  <nav>
    <div class="nav-wrapper dark-primary-color">
      <a href="#!" class="brand-logo center " style="letter-spacing:2px">ARTIST TRACKER</a>
      <ul class=" hide-on-med-and-down">
          <li>
            <div class="input-field" style="height:50px;margin-top:8px">
          <input id="search" type="search" required style="border-radius:5px">
          <label class="label-icon large" for="search"><i class="material-icons large" style="margin-top:-15px;">search</i></label>
          <i class="material-icons">close</i>
        </div>
        </li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="login"><i class="material-icons right">view_module</i>Log In</a></li>
      </ul>
    </div>
  </nav>
