<nav class="grey darken-3">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo" style="margin-left: 1%;">Artist Tracker</a>

    <ul class="right hide-on-med-and-down">
      {{#if user}}
        {{#if user.gravatar}}
          <img class="circle responsive-img" src='{{user.gravatar}}' alt="">
        {{/if}}
        <li><a href="/profile">{{user.username}}</a></li>
      {{else}}
        <li><a href="/login">SIGN IN</a></li>
      {{/if}}
    </ul>

  </div>
</nav>
